.single-post {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: var(--white);
  border: 1px solid lightgrey;
  padding: 10px;
}

.single-post .post {
  border: none;
}

.single-post .profile-pic {
  margin-right: 10px;
}

.single-post .post .profile-pic {
  height: 75px;
  width: 75px;
}

.single-post .post .author h5{
  font-size: 36px;
  margin-bottom: 10px;
}

.single-post p.post-body {
  font-size: 22px;
}

.single-post .post-link {
  display: none;
}

.comment {
  margin: 10px 0px;
  border: 1px solid lightgrey;
  padding: 5px;
}

.comment-form {
  background: var(--white);
  padding: 5px;
  margin: 10px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
}

.comment-form input {
  flex: 3;
  border: none;
  padding: 5px;
}

.comment-form button {
  padding: 5px;
  flex: 1;
}
